---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Las mejores ofertas"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 08 2025')}
	heroImage="/mejores_ofertas.jpeg"
>
	<p>
		Tenemos un monton de ofertas. !TRES BRAGAS A 1 €!
	</p>

	
</Layout>